@mixin dark-vars {
  --background: #011627;
  --text-color: #d6deeb;
  --accent: #3dc9b0;
  --accent-hover: #278b79;
  --accent-active: #1c6356;
  --accent-focus: rgba(96, 210, 189, 0.5);
  --border: rgba(0, 0, 0, 0.25);
}
@mixin light-vars {
  --background: #f8f8ff;
  --text-color: #444;
  --accent: #3dc9b0;
  --accent-hover: #278b79;
  --accent-active: #1c6356;
  --accent-focus: rgba(96, 210, 189, 0.5);
  --border: rgba(0, 0, 0, 0.25);
}
body,
body.light {
  @include light-vars;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 18px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Arial, sans-serif;

  color: var(--text-color);
  background: var(--background);
}

.editor {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid var(--border);
}

h1,
h2,
h3 {
  line-height: 1.2;
}
a:link {
  color: #5bf;
}
a:visited {
  color: #ccf;
}

@media (prefers-color-scheme: dark) {
  body,
  body.dark {
    @include dark-vars;
  }
}

.main-ctr {
  display: flex;
  flex-direction: row;
  margin: auto 23px;
  height: 45%;
  .col {
    width: 50%;
  }

  .buttons {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .main-ctr {
    flex-direction: column;
    .col {
      height: unset;
      width: 100%;
    }
  }
  .term {
    min-height: 500px;
  }
}

.button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  border: none;
  border: 2px solid transparent;

  border-radius: 8px;
  padding: 0.5em 0.5em;
  background: var(--accent);
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    border: 2px solid var(--border) !important;
    background: transparent !important;
    color: var(--text-color);
  }

  &:focus {
    box-shadow: 0 0 0 0.15rem var(--accent-focus);
  }
  &:hover {
    background: var(--accent-hover);
  }
  &:active {
    background: var(--accent-active);
  }
}

.term {
  width: 100%;
  height: 75%;
  border: 2px solid var(--border);
  overflow: auto;

  border-radius: 4px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accent-focus);
    &:hover {
      background: var(--accent);
    }
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.2);
  }

  .term-icon {
    user-select: none;
    pointer-events: none;
    width: 16px;
    height: 16px;
  }

  .term-line {
    display: flex;
    font-size: 12px;
    font-family: ui-monospace, Menlo, Monaco, 'Cascadia Code', 'Cascadia Mono',
      'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
      'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
      monospace;
    margin: 0;
    padding: 2px;
    min-width: 99%;
    width: max-content;

    &:hover {
      background: rgba(2, 50, 90, 0.4);
    }
  }

  pre {
    margin: 0 0 0 4px;
    padding: 0;
  }
}

.scrollbar-handle {
  background: rgba(121, 121, 121, 0.4);
}
